.githubLogo {
  width: 240px;
  height: 240px;
  animation-name: scale-up;
  animation-duration: 280s;
}

@keyframes scale-up {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
